{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/RegisterForm.css') }}">
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="login-container">
        <h1>Connexion</h1>

        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            <button type="submit" class="btn btn-primary">Se connecter</button>
        {{ form_end(form) }}

        
        
    </div>
{% endblock %}

