{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Nos produits</h1>

    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('app_product_show', {'id': product.id}) }}">
                    <strong>{{ product.name }}</strong> - {{ product.price }} €
                    {% if product.image %}
                        <img src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}" width="100">
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                </a>
            </li>
        {% else %}
            <p>Aucun produit disponible.</p>
        {% endfor %}
    </ul>
{% endblock %}
